<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head"> </header>
<body>
	<div id="container" class="container-fluid">
	
		<div class="row">
		
			<header th:replace="fragments/header.html :: header"> </header>

			<div id="mainBody" class="col-md-10 col-sm-10 ">
			<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark
					text-center">
					<div class="px-0">
						<h1 class="display-1 font-bold">PAWS</h1>
						<p class="lead mb-0">
							<span class="text-white font-weight-bold">Veterinary
								Services</span>
						</p>
					</div>

				</div>
				<div id="content" class="container">
					
				
				<div class="row">
					<form class="pure-form pure-form-aligned" id="theForm" action="#"
						data-th-action="@{/pets}" data-th-object="${command}"
						method="post">
						<input type="hidden" data-th-field="*{id}" /> <input
							type="hidden" data-th-field="*{clientId}" /> <input
							type="hidden" id="fromClientPage" name="fromClientPage"
							data-th-value="${fromClientPage}" />

						<div data-th-if="${saved}" class="bg-info">Saved</div>

						<div class="form-group">
							<label>Client</label> 
							<span readonly class="form-control" data-th-text="${command.client.name}">
								client </span>
						</div>

						<div class="form-group">
							<label for="name">Name</label> 
							<input id="name" name="name" class="form-control" type="text" data-th-field="*{name}">
						</div>

						<div class="form-group">
							<label>Gender</label> 
							<select class="form-control" data-th-field="*{gender}">
								<option data-th-value="''"></option>
								<option data-th-value="'Female'" data-th-text="Female"></option>
								<option data-th-value="'Male'" data-th-text="Male"></option>
							</select>
						</div>


						<div class="form-group">
							<label for="altered">Altered</label> 
							<input id="altered" class="" name="altered" type="checkbox" data-th-field="*{altered}">
						</div>

						
						<div class="row saveCancel">
							<button type="submit" form="theForm" class="btn btn-success"
								value="Save">Save</button>
							<button class="btn btn-info"
								data-th-href="@{/clients/}">Cancel</button>
							<button class="btn btn-danger"						
								data-th-href="@{/pets/{c}/delete(c=${id})}">Delete</button>
		
						</div>

					</form>


				</div>
				
				
			</div>
		</div>
	</div>
	</div>
</body>
</html>




