<!DOCTYPE HTML>
<html>
<head data-th-fragment="head">

	<link rel="stylesheet" href="/css/pure.css" />
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
	
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/timepicker.min.css" />
	<link rel="stylesheet" href="/css/jquery.timepicker.css" />
	<link rel="stylesheet" href="/css/bootstrap/bootstrap-datepicker.css" />	
		
	<script src="/js/jquery.min.js" ></script>
	<script src="/js/timePicker.min.js" ></script>	
	
	<!-- Calendar stuff -->

	<link rel="stylesheet" href="/css/calendar/style.css" />
	
	
	
	<script src="/js/bootstrap/bootstrap.bundle.min.js" ></script>
	<script src="/js/bootstrap/bootstrap-datepicker.js" ></script>
	
	<script src="/js/script.js" ></script>
	
	<!-- Backup Server loads -->
	
		
	<title>Paws Veterinary Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel='shortcut icon' type='image/x-icon' href='/img/favicon.ico' />
</head>
<body>
	
</body>
</html>
