/*Custom styles*/

body{
	 background-image: url("/img/pawprints.png")
}

.sidebar {
	background-color: #343a40;
	height: 100vh;
}

.sidebar-menu ul li {
	padding: 10px;
	border-bottom: 1px solid white;
}

.sidebar-menu ul li a {
	color: white;
}

.sidebar-menu ul li a:hover {
	color: #343a40;
	background-color: white;
}

.error {
	min-height: 100vh;
	background-repeat: no-repeat;
	color: white;
}

.error h3 {
	background: #007db8;
	padding: 40px;
}

.error .lead {
	color: grey;
}

.loginControl {
	align: center;
}

.loginControl .row {
	margin: 10px;
}

.add-button {
	padding: 10px;
}