/*Custom styles*/

.sidebar {
	background-color: #343a40;
	height: 100vh;
}

.sidebar-menu ul li {
	padding: 10px;
	border-bottom: 1px solid white;
}

.sidebar-menu ul li a {
	color: white;
}

.sidebar-menu ul li a:hover {
	color: #343a40;
	background-color: white;
}

.error {
	min-height: 100vh;
	background-repeat: no-repeat;
	color: white;
}

.error h3 {
	background: #007db8;
	padding: 40px;
}

.error .lead {
	color: grey;
}

.loginControl {
	padding:10px;
	box-sizing: border-box;	
}

.loginControl h1 {
	margin-bottom: 10px;
}
.loginForm {
}

.loginControl .row {
	margin: 10px;
}

.add-button {
	padding: 10px;
}

.appointmentCollapse .button {
	margin: 10px;
}	

.delete-bg {
	padding: 10px;
	color: white;
}

.form-custom {
	margin: 10px auto;
}

.loginImage {
	background: black;
}

.banner {
	background-color: #e9ecef;
}

.banner img {
	border: 2px solid #e9ecef;
}