<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div class="container-fluid" >
		<div class="row">
			<header th:replace="fragments/header.html :: header" >
			</header>
			<div id="mainBody" class="col-md-10 col-sm-10">
				<div class="loginImage text-center">
						<img src="/img/paws-bg.jpg" class="img-fluid" alt="Responsive image">
				</div>
					<div class="jumbotron">
						
						<h1 class="text-center">Welcome to the PAWS Veterinary Services.</h1>
						<hr />
						<div class="loginControl loginForm">
						<div class="mainContent">
							<p class="lead">
								From this app, you should be able to:
								<ul>
								<li> <a href="/clients/new"> Add client and edit their info </a> </li>
								<li> <a href="/pets/new"> Add pets for a client </a> </li>
								<li> Update a client's or a pet's info</li>
							</ul>
							</p>
						</div>
						</div>
						
						
										
					</div>
			</div>
		</div>
    </div>
</body>
</html>




