<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div class="container-fluid" >
		<div class="row">
			<header th:replace="fragments/header.html :: header" >
			</header>
			<div id="mainBody" class="col-md-8 col-sm-8">
				<div id="content" class="">
					<div class="jumbotron">
						<h1>Welcome to the spring app tutorial.</h1>
						<p class="lead">
							From this app, you should be able to:
							<ul>
							<li> <a href="/clients/new"> Add client and edit their info </a> </li>
							<li> <a href="/pets/new"> Add pets for a client </a> </li>
							<li> Update a client's or a pet's info</li>
						</ul>
						</p>
						
										
					</div>
				</div>
			</div>
		</div>
    </div>
</body>
</html>




