<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div class="container-fluid" >
		<div class="row">
			<header th:replace="fragments/header.html :: header" >
			</header>
			<div id="mainBody" class="col-md-10 col-sm-10">
				<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark text-center">
				    <div class="px-0">
				      <h1 class="display-1 font-bold">PAWS</h1>
				      <p class="lead mb-0"><span class="text-white font-weight-bold">Veterinary Services</span></p>
				    </div>
				  </div>
					<div class="jumbotron">
						
						<h1 class="text-center">Welcome to PAWS Veterinary Services.</h1>
						<hr />
						<div class="loginControl loginForm">
						<div class="mainContent">
							<p class="lead">
								From this app, you should be able to:
								<ul>
								<li> <a href="/clients/new"> Add client and edit their info </a> </li>
								<li> <a href="/pets/new"> Add pets for a client </a> </li>
								<li> Update a client's or a pet's info</li>
							</ul>
							</p>
						</div>
						</div>
						
						
										
					</div>
					
					<div class="container">
				        <!-- Example row of columns -->
				        <div class="row">
				          <div class="col-md-4">
				            <h2>Event 1 placeholder</h2>
								<p class="eventDetails">First event goes here</p>
					            <p><a class="btn btn-secondary" href="#" role="button">View details</a></p>
				          </div>
				          <div class="col-md-4">
				            <h2>Event 2 placeholder</h2>
								<p class="eventDetails">Second event goes here</p>
					            <p><a class="btn btn-secondary" href="#" role="button">View details</a></p>
				          </div>
				          <div class="col-md-4">
				            <h2>Event 3 placeholder</h2>
								<p class="eventDetails">Third event goes here</p>
					            <p><a class="btn btn-secondary" href="#" role="button">View details</a></p>
				          </div>
				        </div>
				
				        <hr>
				
				      </div>
			</div>
		</div>
    </div>
</body>
</html>




