<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="container-fluid" >
		<div class="row">
			<header th:replace="fragments/header.html :: header" >
			</header>
			<div id="mainBody" class="col-md-10 col-sm-10 ">
				<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark text-center">
				    <div class="px-0">
				      <h1 class="display-1 font-bold">PAWS</h1>
				      <p class="lead mb-0"><span class="text-white font-weight-bold">Veterinary Services</span></p>
				    </div>
				  </div>
				<div id="loginBox" class="jumbotron">
					<h1 class="text-center">Welcome to PAWS Veterinary Services.</h1>
					<hr />
					<div class="loginControl text-center">
						
						<div data-th-if="${param.error}" class="p-3 mb-2 bg-danger text-white">
					        Invalid username and password
					    </div>
					    <div data-th-if="${param.logout}" class="p-3 mb-2 bg-info text-white">
					        You have been logged out
					    </div>
					    <div class="logo-image">
							<img src="/img/paw.png" class="img-fluid" alt="Responsive image" width="100px" height="100px">
						</div>
					    <h5 class="text-center">Login below:</h5>
						<form class="form-signin form-custom col-md-3 text-center col-sm-12" data-th-action="@{/login}" method="post">
						    
					       <div class="form-group">
					            <label class="sr-only" for="username">Username: </label>
					            <input id="username" class="form-control" name="username" type="text" placeholder="Username">
					        </div>
			
					        <div class="form-group">
					            <label for="password" class="sr-only">Password: </label>
					            <input id="password" class="form-control" name="password" type="password" placeholder="Password">
					        </div>
					        <div class="form-group">
			      	            <button type="submit" class="btn btn-success">Sign In</button>
				        	</div>
						</form>
						</div>
			        </div>
		        </div>
	        </div>
        </div>
    </div>
</body>
</html>
