<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>
	<div id="container" class="container-fluid" >
	<div class="row">
		<header th:replace="fragments/header.html :: header" >
		</header>
		<div id="mainBody" class="col-md-8 col-sm-8" data-th-fragment="head">
		<div class="jumbotron">
				<h1>Edit Appointment</h1>
			<p class="lead">
				Edit your appointment here
			</p>
			</div>
			<form class="col-md-4" id="appointmentForm" action="#" data-th-action="@{/appointments}" data-th-object="${command}" method="post">
			
				<!-- Hidden items -->
	            <input id="appointmentId" name="id" type="hidden" data-th-field="*{id}" value="">
      	        <input id="petId" name="petId" type="hidden" data-th-field="*{petId}" value="">
	            <input id="petId" name="petId" type="hidden" data-th-field="*{clientId}" value="">
      	        
	            
						
			<div class="form-group">
				<label for="petName">Pet Name</label>
	            <span data-th-text = "${petName}" class="form-control" readonly></span>
			</div>
			
			<div class="form-group">
				<label for="clientName">Client Name</label>
	            <span data-th-text = "${clientName}" class="form-control" readonly></span>
			</div>
			
			<div class="form-group">
				<label for="reason">Reason</label>
	            <input id="reason" name="reason" type="text" class="form-control" data-th-field="*{reason}">
			</div>
			
			<div class="form-group">
				<label for="duration">Duration</label>
	            <input id="duration" name="duration" type="number" class="form-control"  data-th-field="*{duration}">
			</div>
			
			<div class="form-group">
				<label for="comments">Comments</label>
	            <input id="comments" name="comments" type="text" class="form-control" data-th-field="*{comments}">
			</div>
			
			<div class="form-group">			
				<button type="submit" form="appointmentForm" class="button"  value="Save">Save</button>
			</div>

			
			
			</form>
		
		</div>
	</div>
		
</body>
</html>




