<!DOCTYPE HTML>
<html>
<header th:replace="fragments/head.html :: head" >
</header>
<body>

	<div id="container" class="container-fluid" >
		<div class="row">
			<header data-th-replace="fragments/header.html :: header" >
			</header>
			<div id="mainBody" class="col-md-8 col-sm-8">
				<div id="content" class="pure-u-1">
					<div class="pad right">
						<a class="pure-button"  data-th-href="@{'/appointments/new'}">Add Appointment</a>
					</div>
					<div class="pad">
					    <div data-th-if="${deleted}" class="message-box-info">
							Deleted successfully
					    </div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Id</th>
									<th scope="col">Time</th>
									<th scope="col">Duration</th>
									<th scope="col">Client Id</th>
							<!-- 	<th scope="col">Client Name</th>   -->
									<th scope="col">Pet Id</th>
							<!--		<th scope="col">Pet Name</th>  -->
									<th scope="col">Reason</th>								
									<th scope="col">Comments</th>
									
								</tr>
							</thead>
							<tbody>	
								<tr data-th-each="appointment : ${appointments}">
									<td data-th-text="${appointment.id}">...</td>		
									<td data-th-text="${appointment.apptDateTime}">...</td>		
								    <td data-th-text="${appointment.duration}">...</td>			
								    <td data-th-text="${appointment.clientId}">...</td>	
                                     <td data-th-text="${appointment.petId}">...</td>	
									<td data-th-text="${appointment.reason}">...</td>					
									<td data-th-text="${appointment.comment}">...</td>			
														
															
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
    </div>
</body>
</html>

